﻿body, html, .row-offcanvas {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: whitesmoke;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Set padding to display errors that occur during databinding */
/*.padding-error {
    padding-top: 20px;
}*/


#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color: #f5f5f5;
    float: left;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#main {
    height: 100%;
    overflow: auto;
    background-color: whitesmoke;
}

.task {
}

.panel-body h4 {
    color: #a55400;
}

.green {
    color: green;
}

.shortPanel {
    max-height: 282px !important;
    overflow-y: auto;
}

.shortPadding {
    padding: 1px !important;
}

.shortMargin {
    margin: 0 !important;
}

ul.pagination > li
{
    cursor: pointer;
}

/* Fixes alignment in nav lists */
.nav-pills [class^="fa-"],
.nav-pills [class*=" fa-"] {
    line-height: inherit;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: calc(100% + 220px);
    }

    .row-offcanvas-left {
        left: -220px;
    }

        .row-offcanvas-left.active {
            left: 0;
        }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}

@media (max-width: 650px) {
    .taskDescription {
        margin-left: 240px !important;
    }
}

@media (max-width: 490px) {
    .taskDescription {
        margin-left: 125px !important;
    }
}

.shortInputSearch {
    width: 300px !important;
    float: right !important;
}

.jumbotron {
    position: relative;
    background: #000 url("../images/background.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

/*Edit form*/
#editTaskWrapper {
    background-color: #337AB7;
    color: white;
    padding: 20px;
}

.black {
    color: black !important;
}

/*login form*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        /*border-bottom-right-radius: 0;*/
        /*border-bottom-left-radius: 0;*/
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        /*border-top-left-radius: 0;*/
        /*border-top-right-radius: 0;*/
    }

.userinfo {
    margin-right: 10px;
    font-size: large;
    background-color: white;
}

/*Validation Errors*/
.has-error .control-label {
    color: #FFB658 !important;
}

.taskDescription {
    margin-left: 335px;
}

/* Autocomplete section */

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

.red {
    color: red;
}
