﻿<div class="row">

        <h3 class="form-signin-heading"> <label class="label label-info">About...</label></h3>
        <div class="form-group">
            <p>Information</p>
        </div>

</div>
