﻿<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <h3></h3>
        <div class="" ng-if="userData.isUserLoggedIn">
            <ul class="nav nav-pills nav-stacked">

                <li class="nav-divider"></li>

                <li class="">
                    <a ng-href="#/">
                        Home
                        <i class="fa fa-home fa-fw pull-right"></i>
                    </a>
                </li>
                <li class="nav-divider"></li>

                <li>
                    <a ng-href="#/users/"
                       ng-if="(userData.isUserLoggedIn && (userrolename == 'super_admin'))">
                        Users
                        <i class="fa fa-users fa-fw pull-right"></i>
                    </a>
                </li>
                <li>
                    <a ng-href="#/users/register"
                       ng-if="(userData.isUserLoggedIn && (userrolename == 'super_admin'))">
                        Register user
                        <i class="fa fa-user-plus fa-fw pull-right"></i>
                    </a>
                </li>
                <li class="nav-divider" ng-if="(userData.isUserLoggedIn && (userrolename == 'super_admin'))"></li>

                <li>
                    <a ng-href="#/customers/"
                       ng-if="(userData.isUserLoggedIn && (userrolename == 'super_admin' || userrolename == 'basic_admin'))">
                        Customers
                        <i class="fa fa-users fa-fw pull-right"></i>
                    </a>
                </li>
                <li>
                    <a ng-href="#/customers/register"
                       ng-if="(userData.isUserLoggedIn && (userrolename == 'super_admin' || userrolename == 'basic_admin'))">
                        Register customer
                        <i class="fa fa-user-plus fa-fw pull-right"></i>
                    </a>
                </li>
                <li class="nav-divider" ng-if="(userData.isUserLoggedIn && (userrolename == 'super_admin' || userrolename == 'basic_admin'))"></li>

                <li>
                    <a ng-href="#/tasks/"
                       ng-if="(userData.isUserLoggedIn && (userrolename == 'super_admin' || userrolename == 'basic_admin' || userrolename == 'elevated_user' || userrolename == 'basic_user'))">
                        Tasks
                        <i class="fa fa-film fa-fw pull-right"></i>
                    </a>
                </li>
                <li>
                    <a ng-href="#/tasks/add"
                       ng-if="(userData.isUserLoggedIn && (userrolename == 'super_admin' || userrolename == 'basic_admin'))">
                        Add task
                        <i class="fa fa-plus-circle fa-fw pull-right"></i>
                    </a>
                </li>
                <li class="nav-divider" ng-if="(userData.isUserLoggedIn && (userrolename == 'super_admin' || userrolename == 'basic_admin'))"></li>

                <li class="nav-divider"></li>

            </ul>
        </div>
        <!--
        <div>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a ng-href="#/login" ng-if="!userData.isUserLoggedIn">
                        Login<i class="fa fa-sign-in fa-fw pull-right"></i>
                    </a>
                </li>
            </ul>
            <button type="button" class="btn btn-danger btn-sm" ng-click="logout();" ng-if="userData.isUserLoggedIn">
                Logout<i class="fa fa-sign-out fa-fw pull-right"></i>
            </button>
        </div>
        -->
    </div>
</div>