﻿<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header nav-bar-left">
        <a class="navbar-brand ng-enter-active" href="#/">Hout & IT Klussen BV</a>
    </div>
    <div class="navbar-header nav-bar-left">
        <a class="navbar-brand ng-enter-active" ng-href="#/about" ng-if="!userData.isUserLoggedIn">About<i class="fa fa-info-circle fa-fw pull-right"></i></a>
    </div>
    <div class="navbar-header nav-bar-left">
        <a class="navbar-brand ng-enter-active" ng-href="#/login" ng-if="!userData.isUserLoggedIn">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a>
        <a class="navbar-brand ng-enter-active" ng-click="logout();" ng-if="userData.isUserLoggedIn">Logout<i class="fa fa-sign-out fa-fw pull-right"></i></a>
        <div class="navbar-brand ng-enter-active" ng-if="userData.isUserLoggedIn">{{username}}<i class="fa fa-user fa-fw"></i></div>
    </div>
</div>