﻿<div id="editTaskWrapper">
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-xs-3">
            <div class="text-center">
                <img ng-src="../../Content/images/tasks/unknown.jpg" class="avatar img-responsive" alt="avatar">
                <h6>Add photo...</h6>

                <input type="file" ng-file-select="prepareFiles($files)">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-xs-9 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-plus"></i>
                Add <strong>{{task.Title}}</strong> task. Make sure you fill all required fields.
            </div>

            <form class="form-horizontal" role="form" novalidate angular-validator name="addTaskForm" angular-validator-submit="AddTask()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <label class="control-label">Task title</label>
                            <input class="form-control" name="title" type="text" ng-model="task.Title"
                                   validate-on="blur" required required-message="'Task title is required'">
                        </div>
                        <div class="col-xs-6 col-sm-4 selectContainer">
                            <label class="control-label">Image</label>
                            <select ng-model="task.PartId" class="form-control black" ng-options="option.ID as option.Name for option in images" required></select>
                            <input type="hidden" name="ImageId" ng-value="task.ImageId" />
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" ng-model="task.Description" name="description" rows="3"
                              validate-on="blur" required required-message="'Task description is required'" />
                </div>


                <div class="form-group col-xs-4">
                    <label class="control-label"></label>
                    <div class="">
                        <input type="submit" class="btn btn-primary" value="Submit task" />
                        <span></span>
                        <a class="btn btn-default" ng-href="#/tasks/{{task.ID}}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>