﻿<hr />
<div class="jumbotron">
    <div class="container text-center">
        <img alt="{{task.Title}}" ng-src="../../../Content/images/tasks/{{task.Image}}" class="pull-left" height="120" />
        <div class="taskDescription"><i><i class="fa fa-quote-left"></i>{{task.Description}}<i class="fa fa-quote-right"></i></i></div>
        <br />
        <div class="btn-group">
            <button ng-if="task.IsAvailable" type="button" ng-click="openRentDialog();" class="btn btn-sm btn-primary">Rent task<i class="fa fa-book pull-right"></i></button>
            <a href="#/tasks/edit/{{task.ID}}" class="btn btn-sm btn-default">Edit task<i class="fa fa-pencil-square-o pull-right"></i></a>
        </div> <!-- end btn-group -->
    </div> <!-- end container -->
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>{{task.Title}}</h5>
            </div>
            <div class="panel-body" ng-if="!loadingTask">
                <div class="media">
                    <a class="pull-right" ng-href="#/tasks/{{task.ID}}" title="View {{task.Title}} details">
                        <img class="media-object" height="120" ng-src="../../Content/images/tasks/{{task.Image}}" alt="" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{task.Title}}</h4>
                        Directed by: <label>{{task.Director}}</label><br />
                        Written by: <label>{{task.Writer}}</label><br />
                        Produced by: <label>{{task.Producer}}</label><br />
                        Rating: <span component-rating='{{task.Rating}}'></span>
                        <br />
                        <label class="label label-info">{{task.Part}}</label>
                        <available-task is-available="{{task.IsAvailable}}"></available-task>
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix" ng-if="!loadingTask">
                <div class="pull-right">
                    <a ng-href="{{task.TrailerURI}}" class="btn btn-primary fancybox-media">View Trailer <i class="fa fa-video-camera pull-right"></i></a>
                    <a ng-href="#/tasks/edit/{{task.ID}}" class="btn btn-default">Edit task <i class="fa fa-pencil-square pull-right"></i></a>
                </div>
            </div>
            <div ng-if="loadingTask">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Loading task data...</label>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-danger shortPanel">
            <div class="panel-heading clearfix">
                <h5 class="pull-left">Rentals</h5>
                <div class="input-group">
                    <input id="inputSearchTasks" type="search" ng-model="filterRentals" class="form-control" placeholder="Filter..">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    </div>
                </div>
            </div>
            <div class="table-responsive" ng-if="!loadingRentals">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Rental date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rental in rentalHistory | filter:filterRentals">
                            <td>{{rental.ID}}</td>
                            <td>{{rental.Customer}}</td>
                            <td>{{rental.RentalDate | date:'fullDate'}}</td>
                            <td ng-class="getStatusColor(rental.Status)">{{rental.Status}}</td>
                            <td class="text-center">
                                <button ng-if="isBorrowed(rental)" type="button" class="btn btn-primary btn-xs" ng-click="returnTask(rental.ID)">Return</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="loadingRentals">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Loading rental history...</label>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>
    </div>
</div>
