﻿<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Hout & IT klussen Tasks</h4>
            <div class="input-group">
                <input id="inputSearchTasks" type="search" ng-model="filterTasks" class="form-control shortInputSearch" placeholder="Filter, search tasks..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="task in Tasks | filter:filterTasks">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">{{task.Name}}</h4>
                            Description: <strong>{{task.Description}}</strong><br />
                            TaskTypeId: <strong>{{task.TaskTypeId}}</strong><br />
                            LastChangeUserId: <strong>{{task.LastChangeUserId}}</strong><br />
                            CreationTimeStamp: <strong>{{task.CreationTimeStamp}}</strong><br />
                            LastChangeTimeStamp: <strong>{{task.LastChangeTimeStamp}}</strong><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <custom-pager page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>
            </div>
        </div>
    </div>
</div>