﻿<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" id="panelLatestTasks">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Title HEADER CONTAINER</h3>
            </div>
            <div class="panel-body">
                <div ng-if="loadingTasks">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <i class="fa fa-refresh fa-5x fa-spin"></i>
                        <label class="label label-primary">Loading tasks...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="col-xs-12 col-sm-6 task" ng-repeat="task in latestTasks">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{task.Name}}</strong>
                        </div>
                        <div class="panel-body">
                            <div class="media">

                                <div ng-repeat="item in task.ImageNames">
                                    <a class="pull-left fancybox pull-left"
                                       rel="{{item.Task}}"

                                       href="#"
                                       ng-href="{{item.LocationUrl}}{{item.Name}}"
                                       title="{{item.Description}}">

                                        <img class="media-object"
                                             height="60"
                                             ng-src="{{item.LocationUrl}}{{item.Name}}" alt="{{item.Name}}" />

                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>